.node {
  cursor: pointer;
}

.node circle {
  fill: gray;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #A9D0F5;
  stroke-width: 1.5px;
}

.mid_svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
		z-index: 1;
}

.info-panel {
		width: 30%;
		position: fixed;
		right: 20px;
		opacity: 0.8;
		z-index: 5;
		cursor: move;
}

#info {
		top: 10%;
}

#planner {
		top: 60%;
}

.black-text {
    color: black;
}

.inline{
    display: inline-block;
}

#add {
		margin-right: auto;
		margin-left: auto;
		display: block;

}

.bold {
		font-weight: bold;
}

.login_box {
    background-color: #D1DDFF;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: 200px;
    width: 250px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}

#google_login_button {
    padding-top: 20px;
    width: 50%;
    margin: 0 auto; 
}

.body {
    background-color: #F3F6FF;
}

.navy {
    color: #001960;
    font-weight: bold;
}