.node {
  cursor: pointer;
}

.node circle {
  fill: gray;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: gray;
  stroke-width: 1.5px;
}

.mid_svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
		z-index: 1;
}

.info-panel {
		width: 30%;
		position: fixed;
		right: 20px;
		opacity: 0.8;
		z-index: 5;
		cursor: move;
}

#info {
		top: 20px;
}

#planner {
		bottom: 100px;
}


