.tree div{

}

.node {
  cursor: pointer;
}

.node circle {
  fill: pink;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: pink;
  stroke-width: 1.5px;
}