{% extends "master.html" %}

{% block head %}
<!--<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="../static/js/jquery.js"></script>
<!--<script src="../static/js/index.js"></script>-->
{% endblock %}

{% block body %}
<!--<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>

<button id="signout">Sign Out</button>
-->
INDEX
<h1>Course Broccoli</h1>
<div id="tree">
</div>

{% endblock %}
