{% extends "master.html" %}
{% block head %}

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="../static/js/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="../static/js/course.js"></script>
{{ super() }}

{% endblock %}

{% block body %}

<h1>Course Broccoli</h1>
<div id="tree" class="mid_svg">
</div>


<div class="panel-group info-panel" id="info" draggable="true">
  <div class="panel panel-primary">
    <div class="panel-heading">EES81QFC Freshman Composition</div>
    <div class="panel-body">
      <p class="inline bold black-text">Prereqs: </p>
      <p class="inline black-text">variable</p>
      <hr>
      <p class="inline bold black-text">Allows: </p>
      <p class="inline black-text">pineapples</p>
      <hr>
      <p class="black-text"> A long description</p>
      <button type="button" class="btn btn-success">Add to Schedule</button>
    </div>
  </div>
</div>

<div class="panel-group info-panel" id="planner" draggable="true">
  <div class="panel panel-primary">
    <div class="panel-heading">Schedule Planner</div>
    <div class="panel-body black-text">Plan your schedule</div>
  </div>
</div>


{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

