{% extends "master.html" %}
{% block head %}

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="../static/js/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!--<script src="../static/js/index.js"></script>-->

<h1>Home</h1>
{{ super() }}

{% endblock %}

{% block body %}

<h1>Course Broccoli</h1>
<div id="tree" class="mid_svg">
</div>



<div class="panel panel-primary info-panel" id="info" draggable="true">
	<div class="panel-heading">Course Code Course Name</div>
	<div class="panel-body">
		<p class="inline bold black-text">Prereqs: </p>
    <p class="inline black-text"></p>
		<hr>
		<p class="inline bold black-text">Allows: </p>
    <p class="inline black-text"></p>
		<hr>
		<p class="black-text"></p>
		<button id ="add" type="button" class="btn btn-success">Add to Schedule</button>
	</div>
</div>



<div class="panel panel-primary info-panel" id="planner" draggable="true">
	<div class="panel-heading">Schedule Planner</div>
	<div class="panel-body black-text">
		<ul class="list-group"></ul>
	</div>

</div>




{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

