<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Course Broccoli</title>

    <!--CSS STUFF-->
    <link rel="stylesheet" href="../static/css/styles.css"/>
    <link rel="icon" href="../static/images/favicon.jpg">

    <!--SCRIPTs-->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <button id="signout" onclick="signOut();">Sign Out</button>
     <button id="signin">Sign In</button>
    <script src="../static/js/course.js"></script>
    <!--<meta name="google-signin-client_id" content="179236941327-flh4rlgnlgs9sh5u6ijnca3557ajei9o.apps.googleusercontent.com">
    <div class="g-signin2" data-onsuccess="onSignIn"></div>-->
   

  </head>
  <body>
LOGIN
 {{ error }}
    
  </body>

  <footer>
    
   
    
  </footer>
</html>


