<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Course Broccoli</title>
    <!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->
    <link rel="stylesheet" href="../static/css/styles.css"/>
    <link rel="icon" href="../static/images/favicon.jpg">
    
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="../static/js/jquery.js"></script>
    
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    
    <button id="signout">Sign Out</button>
    <script src="/static/js/course.js"></script>
    {% block head %}
    {% endblock %}

  </head>
  <body>
    {% block body %}
    MASTER
    {% endblock %}
  </body>
</html>
